.form-container {
  display: flex;
  flex-direction: column;
  padding: 30px 40px 10px 40px;
}

.form-field {
  margin-bottom: 5px;
  width: '100%';
  border-radius: 10px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px; /* Add margin at the top of form actions */
}